.main-container {
  display: grid;
  grid-template-columns: minmax(1rem, 5rem) minmax(0, 2fr) minmax(1rem, 5rem);
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  width: 100%;
}

.main-container>*:not(.full) {
  grid-column: 2;
}

.main-container>.full {
  grid-column: 1 / -1;
}

.main-container > main {
  grid-row: 2;
}

@media (width < 1500px) {
  .main-container {
    grid-template-columns: 1rem minmax(0, 2fr) 1rem;
  }
}